@use "sass:math";

// ============================================
// Variables
// ============================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px
$space-xxxxl: 5rem; // 80px
$space-xxxxxl: 7.5rem; // 120px

// --- Colors ---
$color-base: #E0C84F;
$color-main: #D9D9D9;
$color-bg: #fff;
$color-textbold: #222;

// --- Typography ---
$font-size-base: 18;
$font-family-gothic: "Helvetica Neue", Arial, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 640px,
    "philosophy": 500px,
);

// ============================================
// Functions
// ============================================

@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}

// ============================================
// Mixins
// ============================================

@mixin inner($mw: 1000px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin inner-fun($mw: 900px, $w: 83%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}


// ============================================
// Base
// ============================================

.body {
    color: $color-textbold;
}


// ============================================
// Header
// ============================================

.header {
    background-color: #111;

    &__inner {
        @include inner();
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-bg;
        padding-bottom: rem(15);
        font-size: rem(15);
    }

    &__logo {
        width: 180px;
        margin-top: rem(20);
    }

    &__text {
        color: $color-bg;
        font-weight: normal;
        font-size: rem(13);
    }
}

.gnav {
    font-size: 16px;

    &__list {
        display: flex;
        gap: 30px;
        padding-top: rem(21);
    }

    &__item:hover {
        color: $color-base;
        transition: color 0.6s ease;
    }
}

// ============================================
// Main
// ============================================

// --- Main Visual ---
.sample {
    &_img {
        height: 640px;
        position: relative;
        margin: auto;
        overflow: hidden;
    }
}

// --- Fun Section ---
.fun {
    @include inner();

    &__title {
        color: $color-textbold;
        text-align: center;
        margin-bottom: 55px;
        padding-bottom: 15px;
        font-size: rem(30);
        position: relative;
        padding-top: 170px;
        font-weight: bold;

        &::before {
            position: absolute;
            bottom: -10px;
            left: calc(50% - 30px);
            width: 60px;
            height: 5px;
            content: '';
            border-radius: 3px;
            background: $color-base;
        }
    }
}

.about {
    @include inner-fun();
    font-size: 18px;

    &__text {
        text-align: center;
        color: $color-textbold;
    }

    &__texts {
        text-align: center;
        color: $color-textbold;
        padding-top: 25px;
        padding-bottom: 170px;
        line-height: 1.8;
    }
}

// --- Course Section ---
@mixin inner-cose($mw: 1300px, $w: 100%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

.cose {
    @include inner-cose();

    &__inner {
        background-color: $color-base;
        border-radius: 7px;
        margin-bottom: 110px;
        padding: 70px 0 100px;
    }

    &__text {
        font-weight: bold;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 40px;
        color: #f5f5f5;
    }

    &__image__texts:nth-of-type(1) {
        padding-top: 5px;
    }

    .image__texts {
        margin-bottom: 23px;
        line-height: 1.8;
    }

    .cose__text {
        & strong {
            font-size: 3rem;
        }
    }
}

// --- Image Section ---
.image {
    &__block {
        display: flex;
        gap: 55px;
        position: relative;
    }

    &__head {
        margin-left: 55px;
    }

    &__big {
        color: rgba(224, 200, 79, 0.4);
        font-size: min(4.8vw, 72px);
        font-weight: 600;
        left: 0.1em;
        letter-spacing: 0.05em;
        line-height: 1;
        position: absolute;
        top: max(3.6vw, -50px);
        z-index: 0;
        left: 0.6em;
    }

    &__img {
        width: 90%;
        background-color: #f5f5f5;
        border-radius: 7px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        border: 13px solid rgba($color-base, 0.7);

        img {
            display: block;
            margin-top: 40px;
            margin-bottom: 40px;
            width: 465px;
            vertical-align: bottom;
            margin-right: 20px;
        }

        &:nth-of-type(3) {
            margin-bottom: 0;
        }
    }

    .image__text {
        font-weight: bold;
        font-size: 2rem;
        color: $color-textbold;
        margin-top: 77px;
        margin-bottom: 25px;
        z-index: 1;

        span {
            display: block;
            margin-top: 5px;
            font-size: 1rem;
        }
    }

    &__texts {
        font-size: 1rem;
        color: $color-textbold;
        font-weight: bold;
    }

    &__btn {
        font-size: .9rem;
        font-weight: bold;
    }

    &__bg {
        background-color: $color-main;
        border-radius: 7px;
        padding: 30px 20px;
        position: relative;
        z-index: 2;
    }
}

// --- Form Section ---
.form {
    position: relative;
    display: inline-block;

    &__img {
        height: 445px;
        display: block;
    }

    &__experience {
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-main, 0.5);
        text-align: center;
        font-weight: bold;
    }

    &__texts {
        font-size: 1rem;
        color: $color-textbold;
        display: inline-block;
        text-align: left;
        color: $color-textbold;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 170px;
        width: 50px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

// --- Instructor Section ---
.instructor {
    &__tops {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: $color-textbold;
        padding-top: 110px;
    }
}


// --- fun --- //
.fun {

    &__flex {
        display: flex;
    }
}






//フォーカス//
:focus-visible {
    outline: revert;
    outline-offset: 2px;
    color: $color-base;
}