@use "sass:math";

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px
$space-xxxxl: 5rem; // 80px
$space-xxxxxl: 7.5rem; // 120px

// --- Colors ---//
$color-base: #EFDC06;
$color-main: #D9D9D9;
$color-bg: #fff;
$color-textbold: #222;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Helvetica Neue", Arial, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 640px,
    "philosophy": 500px,
);

@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}

@mixin inner($mw: 1000px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;

}

@mixin inner-fun($mw: 900px, $w: 83%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

.body {
    color: $color-textbold;
}

.header {
    background-color: #111;

    &__inner {
        @include inner();
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-bg;
        padding-bottom: rem(15);
        font-size: rem(15);
    }

    &__logo {
        width: 180px;
        margin-top: rem(20);
    }

    &__text {
        color: $color-bg;
        font-weight: normal;
    }

    &__text {
        font-size: rem(13);
    }
}

.gnav__list {
    display: flex;
    gap: 30px;
    padding-top: rem(21);
}

//--main--//

.sample {
    &_img {
        height: 640px;
        // width: 100%;
        position: relative;
        margin: auto;
        overflow: hidden;
    }
}

.fun {
    @include inner();

    &__top {
        text-align: center;
        padding-top: 40px;
        font-size: 3rem;
        font-weight: bold;
        color: $color-textbold;
    }

    &__title {
        color: $color-textbold;
        text-align: center;
        margin-bottom: 55px;
        padding-bottom: 15px;
        font-size: rem(20);
        position: relative;
    }

    &__title::before {
        position: absolute;
        bottom: -10px;
        left: calc(50% - 30px);
        width: 60px;
        height: 5px;
        content: '';
        border-radius: 3px;
        background: $color-base;
    }
}

.about {
    @include inner-fun();

    &__text {
        text-align: center;
        color: $color-textbold;
    }

    &__texts {
        color: $color-textbold;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 100px;
    }
}

//--３つのコース--//
.cose {
    @include inner();
    //background-color: #000;

    &__inner {
        background-color: $color-bg;
        border: 10px solid $color-base; // ← 枠線を追加！
        border-radius: 7px; // 角を丸くしたいとき
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }


    &__three {
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        background-color: $color-base;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 60px;
        border-radius: rem(50);
        margin-top: rem(10);
        margin-bottom: 40px;
    }

    &__text {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        padding-top: rem(3);
        color: $color-textbold;
    }

}

.image {
    display: flex;
    justify-content: center;
    /* 中央揃え */
    gap: 10px;
    /* 画像間の隙間 */

    &__img {
        width: 30%;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    &__text {
        padding: 15px 0 0 0;
        font-weight: bold;
        font-size: rem(23);
        color: $color-textbold;
    }

    &__texs {
        font-size: 1rem;
        color: $color-textbold;
    }

    @mixin btn-base {
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        background-color: $color-main;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        border-radius: rem(50);
        margin-top: 4.1rem;
        color: $color-textbold;
    }

    &__btn {
        @include btn-base;
        margin-top: 2.8rem;
    }

    &__btns {
        @include btn-base;
        margin-top: 1.3rem;
    }
}



//体験・見学はこちら

.form {
    &__inner {}
}