@use "sass:math";

// ============================================
// Variables
// ============================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px
$space-xxxxl: 5rem; // 80px
$space-xxxxxl: 7.5rem; // 120px

// --- Colors ---
$color-base: #FFF25A;
//$color-main: #D9D9D9;
$color-bg: #fff;
//$color-textbold: #222;
$color-text: #000;

// --- Typography ---
$font-size-base: 18;
$font-family-gothic: "Helvetica Neue", Arial, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 640px,
    "philosophy": 500px,
);

// ============================================
// Functions
// ============================================

@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}

// ============================================
// Mixins
// ============================================

@mixin inner($mw: 1000px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin inner-fun($mw: 900px, $w: 83%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}


// ============================================
// Base
// ============================================

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

body {
    color: $color-text;
    height: 100vh;
    width: 100vw;
    background-color: $color-base;
}





// ============================================
// Header
// ============================================

.header {
    transition: background-color 0.3s ease, color 0.3s ease;
    position: fixed;
    top: 18px;
    width: 100%;
    z-index: 100;

    &__inner {
        @include inner(1200);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-text;
        font-size: rem(15);
        margin-bottom: rem(15);

        @media (max-width: 768px) {}
    }

    &__logo {
        width: 180px;
        margin-top: rem(20);
    }

    &__text {
        color: $color-text;
        font-size: rem(13);
        position: absolute;
        left: 6.3%;
    }
}



.gnav {
    font-size: 16px;

    &__list {
        display: flex;
        gap: 30px;
        padding-top: rem(21);
        font-weight: bold;
    }

    &__item:hover {
        color: $color-base;
        transition: color 0.6s ease;
    }
}


// --- Main Visual ---
.sample {
    &_img {
        position: relative;
        margin: auto;
        overflow: hidden;
        z-index: -1;
        width: 93%;
        top: 15px;

        .sample__overlay-text {
            position: absolute;
            top: 70%;
            left: 45%;
            transform: translate(-50%, -50%);
            color: $color-bg;
            font-size: 3rem;
            font-weight: bold;
            z-index: 10;
            width: 80%;
            line-height: 77px
        }
    }

    .sample__overlay-text {
        & strong {
            font-size: 4.5rem;
            color: $color-base;
        }
    }
}

// --- Fun Section ---
.fun {
    @include inner();

    &__title {
        text-align: center;
        margin-bottom: 28px;
        padding-bottom: 15px;
        font-size: rem(40);
        position: relative;
        font-weight: bold;

        &:nth-of-type(1) {
            background-color: #fff;
            margin-top: 170px;
            padding-top: 28px;
            width: 434px;
        }
    }
}

.about {
    font-size: 25px;
    font-weight: bold;

    &__text {
        position: relative;
        text-align: left;
        left: 19%;
        width: 895px;
        padding-top: 40px;
    }

    &__texts {
        position: relative;
        text-align: left;
        left: 19%;
        width: 895px;
        padding-top: 25px;
        padding-bottom: 170px;
        line-height: 1.8;
    }
}

// --- Course Section ---
.cose-bg {
    width: 100%;
}

.cose {
    @include inner(1300px, 100%);

    &__inner {
        border-radius: 7px;
        padding: 137px 0 0 0;

        &.bottom {
            padding-bottom: 93px;
        }
    }

    &__text {
        font-weight: bold;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 40px;
    }

    &__image__texts:nth-of-type(1) {
        padding-top: 5px;
    }

    .image__texts {
        line-height: 1.8;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .cose__text {
        & strong {
            font-size: 3rem;
        }
    }
}

// --- Image Section ---
.image {
    &__block {
        display: flex;
        gap: 55px;
        position: relative;
    }

    &__head {
        margin-left: 55px;
    }

    &__big {
        color: lighten($color-base, 15%);
        font-size: min(4.8vw, 72px);
        font-weight: 600;
        left: 0.1em;
        letter-spacing: 0.05em;
        line-height: 1;
        position: absolute;
        top: max(5.4vw, -50px);
        z-index: 0;
        left: 0.6em;
    }

    &__img {
        width: 90%;
        background-color: $color-bg;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;

        img {
            display: block;
            margin-top: 40px;
            margin-bottom: 40px;
            width: 465px;
            vertical-align: bottom;
            margin-right: 20px;
        }

        &:nth-of-type(3) {
            margin-bottom: 0;
        }
    }

    &__rera {
        position: relative;
    }

    .image__text {
        font-weight: bold;
        font-size: 2rem;
        color: #222;
        margin-top: 105px;
        margin-bottom: 25px;
        z-index: 1;
        position: relative;

        span {
            display: block;
            margin-top: 5px;
            font-size: 1rem;
        }
    }

    &__texts {
        font-size: 1rem;
        color: $color-text;
        font-weight: bold;
    }

    &__btn {
        font-size: .9rem;
        font-weight: bold;
    }

    &__bg {
        background-color: $color-text;
        border-radius: 7px;
        padding: 30px 20px;
        position: relative;
        z-index: 2;
    }
}

// --- Form Section ---
.form {
    position: relative;
    width: 100%;

    &__img {
        height: 710px;
        display: block;
    }

    &__experience {
        width: 100%;
        overflow: hidden;
    }

    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        padding: 45px 40px;
        text-align: center;
        border-radius: 10px;
        line-height: 1.6;
        font-weight: bold;
    }

    &__text {
        font-size: 2rem;
        padding-bottom: 10px;
    }

    &__texts {
        font-size: rem(18);
        padding-bottom: 25px;
    }

    &__btn {
        font-size: rem(20);
    }

    &__about {
        transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
        width: 375px;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;

        &:hover {
            transform: scale(1.05);
        }

        color: $color-text;
        background-color: $color-bg;
        border: 5px solid #D11C2C;
        border-bottom: 5px solid #D11C2C;

        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);

        &:nth-of-type(2) {
            border: 5px solid $color-text;
            border-bottom: 5px solid $color-text;
        }

        &:hover {
            transform: translateY(4px);
            box-shadow: none;
            background-color: #D11C2C;
            color: $color-bg;
        }

        &:hover:nth-of-type(2) {
            background-color: $color-text;
            color: $color-bg;
            transform: translateY(4px);
            box-shadow: none;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 35px;
    }
}


// --- Instructor Section ---
.instructor {
    &__inner {
        @include inner(1200px);
    }

    &__tops {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 30px;
    }


    &__all {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        column-gap: 45px;
    }

    &__item {
        position: relative;
        margin-left: 21%;

        &:last-child {
            margin-top: 50%;
        }
    }

    &__name {
        position: absolute;
        bottom: 12%;
        left: -12%;
        width: 329px;
        background: #fff;
        padding: 10px;
        box-shadow: 0 0 5px #999;
        font-size: 23px;
        line-height: 31px;
        z-index: 1;
        font-weight: bold;
        border-radius: 7px;
        color: $color-text;
    }

    &__names {
        font-weight: bold;
        position: absolute;
        bottom: 34%;
        left: -11%;
        width: 209px;
        background: #fff;
        padding: 10px;
        box-shadow: 0 0 5px #999;
        font-size: 23px;
        line-height: 31px;
        z-index: 1;
        border-radius: 7px;
        color: $color-text;
    }

    &__image {
        margin-bottom: 208px;
    }

    &__info {
        top: 102%;
        font-size: rem(13);
        position: absolute;
        left: 21%;
        line-height: 1.6;
        text-align: right;
    }

    &__infos {
        font-size: rem(13);
        position: absolute;
        left: 21%;
        top: 77%;
        line-height: 1.6;
        text-align: right;
    }

}

//informathion-----------------------------------------
.informathion {
    &__inner {
        @include inner(1000px);
    }

    &__tops {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 257px;

        &.about {
            padding-top: 164px;
        }

        &.access {
            padding-top: 127px;
        }

        &.privacy {
            padding-top: 95px;
        }
    }
}

.informations {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        &.single {
            grid-template-columns: 1fr;
            max-width: 600px;
            margin: 0 auto;
        }
    }

    @media (max-width: 768px) {
        &__container {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__dojo-info {
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__image-placeholder {
        width: 100%;
        margin-bottom: 20px;
    }

    &__dojo-name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__dojo-reading {
        font-size: 0.9rem;
        color: (255, 255, 255, 0.4);
        margin-bottom: 30px;
    }

    &__contact-label {
        margin-top: 20px;
        margin-bottom: 5px;
        font-weight: bold;
        border-top: 1px solid $color-text;
        padding-top: 20px;
    }

    &__tel-number {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__reservation-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }

    &__button {
        display: block;
        padding: 12px 20px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;
        border: 1px solid $color-text;
        width: 100%;

        & i {
            margin-right: 8px;
        }
    }

    &__button--email {
        background-color: rgba(255, 255, 255, 0.5);
        color: $color-text;
        border-color: rgba(51, 51, 51, 0.5);

        &:hover {
            background-color: rgba(240, 240, 240, 0.8);
        }
    }

    &__button--line {
        background-color: rgba(0, 195, 0, 0.5);
        color: $color-text;
        border-color: rgba(0, 195, 0, 0.6);

        &:hover {
            background-color: rgba(0, 195, 0, 0.7);
        }
    }

    &__access-info {
        text-align: left;
        flex-grow: 1;
        margin-bottom: 20px;
        border-top: 1px solid $color-text;
        padding-top: 20px;
    }

    &__info-item {
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 80px 1fr;
    }

    &__label {
        font-weight: bold;
        padding-right: 10px;
    }

    &__google-map-button {
        display: block;
        width: 99%;
        margin: 0 auto 20px auto;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        background-color: rgba(66, 133, 244, 0.5);
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;

        & i {
            margin-right: 8px;
        }

        &:hover {
            background-color: rgba(66, 133, 244, 0.8);
        }
    }
}


/* ------------------------------------- */
/* --- Block: .footer --- */
/* ------------------------------------- */


.footer {
    padding: 182px 20px 30px 20px;
    color: $color-text;

    &__container {
        max-width: 1169px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px 40px;
        grid-template-areas:
            "logo-area reservation-buttons"
            "nav-main sns-icons"
            "nav-sub sns-icons";
    }

    @media (max-width: 768px) {
        padding: 30px 15px;

        &__container {
            grid-template-columns: 1fr;
            gap: 30px 0;
            grid-template-areas:
                "logo-area"
                "reservation-buttons"
                "nav-main"
                "nav-sub"
                "sns-icons";
        }
    }


    &__logo-area {
        grid-area: logo-area;
        text-align: left;
    }

    &__logo-image {
        max-width: 250px;
        height: auto;
        margin-bottom: 10px;
    }

    &__tagline {
        font-size: 0.8rem;
        color: $color-text;
    }

    &__reservation-buttons {
        grid-area: reservation-buttons;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__button {
        display: block;
        padding: 10px 20px;
        text-align: center;
        border: 1px solid $color-text;
        border-radius: 3px;
        font-weight: bold;
        transition: background-color 0.3s;

        & i {
            margin-right: 10px;
        }

        &--email {
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        &--line {
            &:hover {
                background-color: rgba(0, 195, 0, 0.2);
            }
        }
    }

    &__nav--main {
        grid-area: nav-main;
        text-align: left;
        margin-top: 30px;
    }

    &__nav--sub {
        grid-area: nav-sub;
        text-align: left;
        margin-top: 20px;
        font-size: 0.9rem;
    }

    &__menu-list {
        display: flex;
        gap: 30px;
    }

    &__menu-item {
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: 2px;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s;

        &:hover {
            border-bottom: 2px solid $color-text;
        }
    }

    &__sns-icons {
        grid-area: sns-icons;
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        align-items: flex-start;
        font-size: 1.8rem;

        @media (min-width: 769px) {
            align-items: flex-end;
            margin-top: 30px;
        }
    }

    &__sns-link {
        color: $color-text;
        transition: color 0.3s;

        &:hover {
            color: $color-text;
        }
    }

    @media (max-width: 768px) {
        &__sns-icons {
            justify-content: flex-start;
            margin-top: 10px;
        }

        &__nav--main,
        &__nav--sub {
            margin-top: 0;
        }

        &__menu-list {
            flex-wrap: wrap;
            gap: 15px 20px;
        }
    }
}



//-----------------------------------------------------
//名古屋道場ページ----------------------------------------
//-----------------------------------------------------

.mainvisual-nagoya {

    &__inner {
        @include inner(1200px);
        margin: 0 auto;
        padding: 108px 20px;
        box-sizing: border-box;
    }

    &__header {
        margin-bottom: 18px;
    }

    &__title {
        font-weight: 700;
        font-size: rem(34);
    }

    &__divider {
        border: none;
        border-top: 1px solid #fff;
        margin: 28px 0 56px
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.mainvisual-nagoya__note {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

/////////////////////////////////////////////////
///プライバシー
/////////////////////////////////////////////////
.informathion {
    &__inner {
        line-height: 1.5;
    }

}

.privacy {
    &__inner {
        @include inner(900px);
    }

    &__title {
        font-weight: bold;
    }

    &__explanation {
        padding-bottom: 102px;
    }

    &__text {
        padding-bottom: 64px;

        &.line {
            padding-bottom: 15px;
        }
    }
}





//フォーカス//
:focus-visible {
    outline: revert;
    outline-offset: 2px;
    color: $color-base;
}