@use "sass:math";

// ============================================
// Variables
// ============================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px
$space-xxxxl: 5rem; // 80px
$space-xxxxxl: 7.5rem; // 120px

// --- Colors ---
$color-base: #EFDC06;
$color-main: #D9D9D9;
$color-bg: #fff;
$color-textbold: #222;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Helvetica Neue", Arial, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 640px,
    "philosophy": 500px,
);

// ============================================
// Functions
// ============================================

@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}

// ============================================
// Mixins
// ============================================

@mixin inner($mw: 1000px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin inner-fun($mw: 900px, $w: 83%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}


// ============================================
// Base
// ============================================

.body {
    color: $color-textbold;
}

// ============================================
// Header
// ============================================

.header {
    background-color: #111;

    &__inner {
        @include inner();
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-bg;
        padding-bottom: rem(15);
        font-size: rem(15);
    }

    &__logo {
        width: 180px;
        margin-top: rem(20);
    }

    &__text {
        color: $color-bg;
        font-weight: normal;
        font-size: rem(13);
    }
}

.gnav {
    &__list {
        display: flex;
        gap: 30px;
        padding-top: rem(21);
    }

    &__item:hover {
        color: $color-base;
        transition: color 0.6s ease;
    }
}

// ============================================
// Main
// ============================================

// --- Main Visual ---
.sample {
    &_img {
        height: 640px;
        position: relative;
        margin: auto;
        overflow: hidden;
    }
}

// --- Fun Section ---
.fun {
    @include inner();

    &__title {
        color: $color-textbold;
        text-align: center;
        margin-bottom: 55px;
        padding-bottom: 15px;
        font-size: rem(20);
        position: relative;

        &::before {
            position: absolute;
            bottom: -10px;
            left: calc(50% - 30px);
            width: 60px;
            height: 5px;
            content: '';
            border-radius: 3px;
            background: $color-base;
        }
    }
}

.about {
    @include inner-fun();

    &__text {
        text-align: center;
        color: $color-textbold;
    }

    &__texts {
        text-align: center;
        color: $color-textbold;
        padding-top: 20px;
        padding-bottom: 56px;
    }
}

// --- Course Section ---
@mixin inner-cose($mw: 1100px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

.cose {
    @include inner-cose();

    &__inner {
        background-color: $color-bg;
        border: 10px solid $color-base;
        border-radius: 7px;
        padding: 30px 20px;
        margin-bottom: 110px;
    }

    &__three {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 60px;
        margin: rem(10) auto 40px;
        border-radius: rem(50);
        background-color: $color-base;
    }

    &__text {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        padding-top: rem(3);
        color: $color-textbold;
    }
}

// --- Image Section ---
.image {
    display: flex;
    justify-content: center;
    gap: 10px;

    &__img {
        width: 30%;
        text-align: center;
        overflow: hidden;

        &:hover img {
            opacity: 0.7;
            filter: brightness(1.2);
        }

        &:hover .image__text {
            opacity: 0.7;
            filter: brightness(1.2);
        }

    }

    .image__text {
        &-canfu {
            color: #D93A49;
        }

        &-taikyoku {
            color: #1A7D28;
        }

        &-kizzu {
            color: #FF6B1A;
        }
    }


    img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        transition: all 0.5s ease;
    }



    &__text {
        padding: 15px 0 0 0;
        font-weight: bold;
        font-size: rem(23);
        color: $color-textbold;
    }

    &__texs {
        font-size: 1rem;
        color: $color-textbold;
    }

    &__btn {
        @include btn-base;
        margin-top: 2.8rem;
    }

    &__btns {
        @include btn-base;
        margin-top: 1.3rem;
    }

    &__bg {
        background-color: $color-main;
        border-radius: 7px;
        padding: 30px 20px;
        margin-bottom: 110px;

        position: relative;
        top: -30px; // ← 上に30px移動（重ねる）
        z-index: 2;
    }
}

// --- Form Section ---
.form {
    position: relative;
    display: inline-block;

    &__img {
        height: 445px;
        display: block;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-main, 0.5);
        text-align: center;
        font-weight: bold;
    }
}

// --- Instructor Section ---
.instructor {
    &__tops {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: $color-textbold;
        padding-top: 110px;
    }
}