/*ヘッダーコンテンツ背景を暗くするー色の設定*/
#st-headerbox::before {
    background-color: rgba(255, 0, 0, 0.1) !important;
}


.sitename img {
    max-width: 200px;
    margin: 0;
}

header .descr {
    font-size: 11px;
}

#footer .footerlogo img {
    max-width: 200px !important;
    margin: 0 auto 10px;
    text-align: center;
}

#footer .footer-r {
    color: #fff;
}

#footer .footer-l .textwidget {
    background: #ffffff;
    color: #090707 !important;
}

#footer .footer-l .textwidget p {
    background: #ffffff;
    color: #090707 !important;
}

.list-cards {
    margin: auto;
    padding: 10px 0 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.list-cards li {
    background-position: 50% 50%;
    position: relative;
    z-index: 0;
    background-size: cover;
    text-align: center;
    min-height: 100px;
    width: calc(50% - 10px);
    margin: 5px;
    font-size: 90%;
    padding-top: 100px;
}

.list-cards a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.list-cards a:hover {
    opacity: 0.1;
    background-color: #ffffff;
}

.list-cards li .cardtitle {
    font-weight: bold;
    color: #fff;
    font-size: 120%;
    text-shadow: 1px 1px 1px #424242;
}

.card-opacity {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    color: #fff;
}

.card-kungfu {
    background-image: url(http://ryojis-macbook-pro.local/centralwushu/wp-content/uploads/2019/03/cropped-IMG_3644-300x149.jpg);
    min-height: 150px;
    background-size: cover;
    background-position: center;
}

.st-cardlink-card.has-bg {
    text-shadow: 1px 1px 1px #000000;
}

/*誰にでも楽しくできる*/
.dare-area-image {
    width: 100vw;
    background: #f8f8f8;
    background-position: center;
    background-size: cover;
    margin-left: calc(50% - 50vw);
    padding: 0px 0 70px;
}

.dare-area-image p {
    margin-bottom: 10px;
}

.dare-inner-area-image {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 2.4em;
}

.dare-inner-area-image h1 {
    text-decoration: underline solid #efdc05;
    text-align: center;
}

/*クラス案内*/
.class-area-image {
    width: 100vw;
    background: #ffffff;
    background-position: center;
    background-size: cover;
    margin-left: calc(50% - 50vw);
    padding: 30px 0 70px;
}

.class-inner-area-image {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1.7em;
    font-size: 15px;
}

.class-inner-area-image h1 {
    text-decoration: underline solid #efdc05;
    text-align: center;
}

.class-area-image *,
*:before,
*:after {
    box-sizing: border-box;
}

.class-area-image .col_4 {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    /* IE10 */
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    /* IE10 */
}

.class-area-image .col_4>div {
    width: 23%;
    margin: 1%;
    position: relative;
    text-align: center;
    background: url('https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg');
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 9px;
}

.class-area-image .col_4>div a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}

.class-area-image .col_4>div:hover {
    filter: alpha(opacity=70);
    /* IE 6,7*/
    -ms-filter: "alpha(opacity=70)";
    /* IE 8,9 */
    -moz-opacity: 0.7;
    /* FF , Netscape */
    -khtml-opacity: 0.7;
    /* Safari 1.x */
    opacity: 0.7;
    zoom: 1;
    /*IE*/
}

.class-area-image .col_4 img {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
}

/*セントラルウーシューは*/
.cw-area-image {
    width: 100vw;
    background: #fff;
    background-position: center;
    background-size: cover;
    margin-left: calc(50% - 50vw);
    padding: 70px 0 70px;
}

.cw-inner-area-image {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1.7em;
    font-size: 15px;
}

.cw-inner-area-image h1 {
    text-decoration: underline solid #efdc05;
    text-align: center;
}

.cw-inner-area-image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 10px 20%;
}

.cw-area-image *,
*:before,
*:after {
    box-sizing: border-box;
}

.cw-area-image .col_4 {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    /* IE10 */
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    /* IE10 */
}

.cw-area-image .col_4>div {
    width: 25%;
    padding: 10px;
}

/*練習会一覧*/
.renshu-area-image {
    width: 100vw;
    background: #fff;
    background-position: center;
    background-size: cover;
    margin-left: calc(50% - 50vw);
    padding: 70px 0 70px;
}

.renshu-inner-area-image {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1.7em;
    font-size: 15px;
}

.renshu-inner-area-image h1 {
    text-decoration: underline solid #efdc05;
    text-align: center;
}

.renshu-inner-area-image .kanren {
    font-size: 12px;
    line-height: 1.6em;
}



/*トップ下のバナーメニュー*/
.topmenu-area-image {
    width: 100vw;
    background: #fff;
    background-position: center;
    background-size: cover;
    margin-left: calc(50% - 50vw);
    padding: 70px 0 70px;
}

.topmenu-inner-area-image {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1.7em;
    font-size: 15px;
}

.topmenu-area-image *,
*:before,
*:after {
    box-sizing: border-box;
}

.topmenu-area-image .col_4 {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    /* IE10 */
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    /* IE10 */
}

.topmenu-area-image .col_4>div {
    width: 30%;
    margin: 10px 1.6%;
    position: relative;
    background: url('https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg');
}

.topmenu-area-image .col_4>div:hover {
    filter: alpha(opacity=70);
    /* IE 6,7*/
    -ms-filter: "alpha(opacity=70)";
    /* IE 8,9 */
    -moz-opacity: 0.7;
    /* FF , Netscape */
    -khtml-opacity: 0.7;
    /* Safari 1.x */
    opacity: 0.7;
    zoom: 1;
    /*IE*/
}

.topmenu-area-image .col_4>div a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}

.topmenu-area-image .col_4 img {
    width: 100%;
}

.topmenu-area-image .col_4 p {
    color: #000;
    /*文字を白に*/
    font-size: 12px;
    line-height: 1.4em;
    /*行高は1に*/
    padding: 10px 20px 15px;
    /*文字周りの余白*/
    margin-bottom: 0;
}

.topmenu-area-image .col_4 .title {
    color: #000;
    /*文字を白に*/
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    /*行高は1に*/
    padding: 15px 20px 5px;
    /*文字周りの余白*/
    margin-bottom: 0;
}


.st-cardlink-card.has-bg.is-blurable::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: -webkit-filter .3s ease;
    transition: filter .3s ease;
    transition: filter .3s ease, -webkit-filter .3s ease;
    z-index: -1;
}

/*体験はこちら*/
.taiken-area-image {
    width: 100vw;
    background-image: url(https://centralwushu.com/wp-content/uploads/2019/07/cropped-IMG_3644.jpg);
    background-position: center;
    background-size: cover;
    margin-left: calc(50% - 50vw);
    padding: 70px 0 70px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.taiken-area-image:before {
    content: '';
    position: absolute;
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

.taiken-inner-area-image {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 1.7em;
    font-size: 15px;
}

.taiken-inner-area-image h1 {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-align: center;
    line-height: 2.4em;
}

/*フッター上の写真*/
.footimg-area-image {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.footimg-inner-area-image {
    max-width: 1140px;
    min-height: 300px;
    margin: 0 auto;
    padding: 0 15px;
    background-image: url(/wp-content/uploads/2019/08/kidsbaksp-e1565787926733.png);
    background-position: top;
    background-size: cover;
}

/*お知らせ*/
#topnews-box div.rss-bar {
    margin-top: 20px;
}

/*フッター上のマージン消し*/
.top-wbox-u>* {
    margin-bottom: 0;
}

.scrollcontact p {
    position: fixed;
    top: 30%;
    right: 0;
    display: block;
    width: 50px;
    height: 200px;
    color: #fff;
}

/*クラス紹介ページ関連*/
.post .kintou ul:not(.toc_list):not(.st_toc_list) li {
    border-right: dotted 1px #c0c0c0;
}

.post .kintou ul:not(.toc_list):not(.st_toc_list) li:last-child {
    border: none;
}

.post .kintou ul:not(.toc_list):not(.st_toc_list) {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0 !important;
    margin: 0 auto 20px;
}

.nagaretable {
    max-width: 700px;
    margin: 0 auto;
}

.nagaretable table {
    margin-bottom: 10px;
}

.nagaretable tr td {
    padding: 30px 0;
}

.nagaretable th {
    width: 30%;
    background: #bcb29c;
    padding-left: 12px;
    color: #fff;
}

.lsschedule {
    max-width: 700px;
    margin: 0 auto;
}

.lsschedule a {
    color: #555;
    text-align: right;
    display: block;
}

.lsschedule table {
    margin-bottom: 0;
}

.lsschedule tr td {
    padding: 20px 0;
}

.lsschedule th {
    width: 30%;
    background: #bcb29c;
    padding-left: 12px;
    color: #fff;
}


.lessonpagebanner {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 70px;
}

.lessonpagebanner .lbox {
    display: block;
    position: relative;
    height: 100px;
    padding-top: 38px;
    margin-right: 5%;
    width: 47.5%;
    background: url('https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg');
}

.lessonpagebanner .rbox {
    display: block;
    position: relative;
    height: 100px;
    padding-top: 38px;
    width: 47.5%;
    background: url('https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg');
}

.lessonpagebanner div a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}

.lessonpagebanner div:hover {
    filter: alpha(opacity=70);
    /* IE 6,7*/
    -ms-filter: "alpha(opacity=70)";
    /* IE 8,9 */
    -moz-opacity: 0.7;
    /* FF , Netscape */
    -khtml-opacity: 0.7;
    /* Safari 1.x */
    opacity: 0.7;
    zoom: 1;
    /*IE*/
}

.post {
    padding-bottom: 0;
}

img.kidskungfu {
    display: block;
    margin: 0 auto;
}

/*.lphead-area-image {
    width: 100vw;
    min-height: 320px;
    background-image: url(/centralwushu/wp-content/uploads/2019/07/kidsbkyellow02.jpg);
    background-position: center;
    background-size: cover;
    margin-left: calc(50% - 50vw);
    padding: 15px 0 70px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-bottom: 20px;
}*/
#page-top:not(.page-top-img) a {
    color: #3f3f3f;
}

#mybox .textwidget a {
    color: #202020;
}

#mybox .textwidget a:hover {
    color: rgb(229, 58, 64);
}

/*media Queries スマートフォンとタブレットサイズ（959px以下）で適応したいCSS - スマホ・タブレット
---------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 959px) {
    .list-cards {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    .st-cardlink-column-d {
        padding: 26px 0 0;
    }

    .dare-area-image {
        width: 100vw;
        background: #f8f8f8;
        background-position: center;
        background-size: cover;
        margin-left: calc(50% - 50vw);
        padding: 0px 0 20px;
    }

    .dare-area-image h1 {
        font-size: 1.6em;
    }

    .dare-inner-area-image {
        font-size: 13px;
        line-height: 1.5em;
        margin-bottom: 10px;
    }

    .cw-area-image {
        width: 100vw;
        background: #fff;
        background-position: center;
        background-size: cover;
        margin-left: calc(50% - 50vw);
        padding: 20px 0 20px;
    }

    .cw-area-image h1 {
        font-size: 1.6em;
    }

    .cw-area-image p {
        font-size: 13px;
        line-height: 1.5em;
        margin-bottom: 10px;
    }

    .cw-area-image .col_4>div {
        width: 50%;
        font-size: 13px;
        line-height: 1.5em;
    }

    /*練習会一覧*/
    .renshu-area-image {
        width: 100vw;
        background: #fff;
        background-position: center;
        background-size: cover;
        margin-left: calc(50% - 50vw);
        padding: 20px 0 20px;
    }

    .topmenu-area-image .col_4>div {
        width: 100%;
        margin: 10px 5%;
        position: relative;
        background: url('https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg');
    }

    .topmenu-area-image {
        padding: 20px 0 20px;
    }


    /*フッター上の写真*/
    .footimg-inner-area-image {
        min-height: 180px;
    }

    main {
        padding: 20px 15px 0;
        margin-bottom: 0;
    }

    /*クラス案内*/
    .class-area-image .col_4>div {
        width: 48%;
        margin: 1%;
        position: relative;
        text-align: center;
        background: url('https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg');
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .class-area-image {
        padding: 0 0 20px;
    }


    /*-- ここまで --*/
}

/*media Queries タブレットサイズ（600px～959px）のみで適応したいCSS -タブレットのみ
---------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 959px) {

    .colum1 main {
        padding: 20px 15px 0;
        margin-bottom: 0;
    }

    .topmenu-area-image .col_4>div {
        width: 46%;
        margin: 10px 2%;
        position: relative;
        background: url('https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg');
    }


    /*-- ここまで --*/
}

/*media Queries タブレット（600px）以上で適応したいCSS -タブレット・PC
---------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) {
    .colum1 main {
        padding: 20px 15px 0;
        margin-bottom: 0;
    }

    .graybox {
        margin-bottom: 20px;
        padding: 30px;
        background-color: #fff;
    }

    .st-square-checkbox:not(.st-square-checkbox-nobox) {
        border: 3px solid #f3f3f3;
        padding: 30px 30px 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        width: 560px;
        margin: 0 auto;
        background: url(https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg);
    }

    .kungfudekonna {
        display: flex;
        align-items: flex-end;
        padding: 0 20px;
    }

    .kungfudekonna .lbox {
        width: 60%;
    }

    .kungfudekonna .rbox {
        width: 40%;
    }

    .lessonpagebanner {
        width: 700px;
    }

    /*-- ここまで --*/
}

/*media Queries PCサイズ（960px）以上で適応したいCSS - PCのみ
---------------------------------------------------------------------------------------------------*/
@media print,
screen and (min-width: 960px) {
    header .sitename {
        padding-top: 10px !important;
        margin-bottom: 10px !important;
    }

    header .smanone ul.menu li {
        box-sizing: border-box;
        list-style-type: none;
        float: left;
        width: 150px;
        height: 60px;
        text-align: center;
        border-right: solid 1px #f3f3f3;
        position: relative;
        padding-top: 10px;
    }

    nav.smanone {
        margin: 0 auto;
        padding: 14px 10px;
    }

    .footer-l {
        float: left;
        width: 30%;
        min-width: 280px !important;
        box-sizing: border-box;
        text-align: left;
        padding: 0 20px 0 0;
    }

    .st-cardlink-column-d {
        padding: 70px 0 0;
    }

    .sns {
        width: 100%;
        text-align: center;
        padding-top: 60px;
    }

    .colum1 main {
        margin: 0 0 0;
        padding: 30px 20px 0;
    }

    #newsin {
        padding: 0 70px 0;
    }


    /*-- ここまで --*/
}

/*media Queries スマホサイズ（599px）以下で適応したいCSS - スマホのみ
---------------------------------------------------------------------------------------------------*/
@media print,
screen and (max-width: 599px) {

    .col_4>div {
        width: 50%;
    }

    .graybox {
        margin-bottom: 20px;
        padding: 0px;
        background-color: #fafafa;
    }

    .graybox p {
        font-size: 15px;
        line-height: 1.5em;
    }

    .lessonpagebanner .lbox {
        display: block;
        position: relative;
        height: 62px;
        padding-top: 38px;
        margin-right: 0%;
        margin-bottom: 10px;
        width: 100%;
        background: url(https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg);
    }

    .lessonpagebanner .rbox {
        height: 62px;
        width: 100%;
    }

    .st-square-checkbox:not(.st-square-checkbox-nobox) {
        background: url(https://centralwushu.com/wp-content/themes/affinger5-child/images/100lb-Linen-Natural-e1562945823155.jpg);
    }

    .renshu-inner-area-image .kanren h5 a {
        font-size: 15px !important;
    }

    /*-- ここまで --*/
}